<nav class="navbar navbar-expand-sm navbar-light " id="neubar">
  <div class="container">
    <a class="navbar-brand" href="#"><h1>3-TECH</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 try info center" aria-current="page" href="#">{{'navigation.home' | translate}}</a>

        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 center" href="#">{{'navigation.about' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 center" href="#">{{'navigation.contact' | translate}}</a>
        </li>

       <!-- <li class="nav-item">

          <p-selectButton [style]="{}"
          [options]="languageOptions"
          [(ngModel)]="value1"
          optionLabel="label"
          optionValue="value"
          (onChange)="onLanguageChange($event)"
          >

          </p-selectButton>

      </li> -->

        <!-- social media icons -->
        <li class="nav-item">

            <a class="nav-link mx-2" href="https://www.facebook.com/" target="_blank"><img class="social-media-icons" src="../../../../assets/images/facebook_prev_ui.png" alt="Facebook"></a>

        </li>

        <li class="nav-item">

          <a class="nav-link mx-2" href="https://www.instagram.com/" target="_blank"><img class="social-media-icons" src="../../../../assets/images/Instagram.png" alt="Instagram"></a>

      </li>

      <li class="nav-item">

        <a class="nav-link mx-2" href="https://www.linkedin.com/home" target="_blank"><img class="social-media-icons" src="../../../../assets/images/linkedin_prev_ui.png" alt="Linkedin"></a>

    </li>




      </ul>
    </div>
  </div>

</nav>
